p{
	color:#FF00FF;
	font-size:30pt;
	font-family:"Lucida Handwriting";
}

a:link{
	text-decoration:none;
background-color:#D2B48C;
 color:rgb(140, 0, 255);
padding:14px 25px;
text-align: center;
display: inline-block;
}

a:hover{
  text-decoration: underline;
 

}

a:active{
  text-decoration: underline;
 background-color:#470808;

}